.overskrift {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 42px;
  text-shadow: 1px 1px 2px white, 2px 2px 5px rgb(1, 54, 54);
  color: rgb(0, 88, 135);
  background-color: pink;
  box-shadow: -3px 3px 10px black, 0px 0px 50px white;
  padding: 10px 30px;
  margin: 30px 350px;
  border-radius: 15px;
}
.flam1 {
  border-radius: 50% 5px 5px 5px;
  width: 200px;
  height: 300px;
  box-shadow: -3px 3px 5px black, 0px 0px 50px white;
  margin: 100px 5px;
}
.flam1:hover {
  border-radius: 50%;
  box-shadow: 3px 3px 5px black, 0px 0px 50px white;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 400px;
  height: 400px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
}
.flam1:hover + .flam2 {
  display: none;
}
.flam2 {
  border-radius: 5px 50% 5px 5px;
  width: 200px;
  box-shadow: 3px 3px 5px black, 0px 0px 50px white;
  margin: 100px 5px;
}
.flam2:hover {
  border-radius: 50%;
  box-shadow: -3px 3px 5px black, 0px 0px 50px white;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 400px;
  height: 400px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}

body {
  text-align: center;
  background-image: linear-gradient(
    to bottom right,
    rgb(109, 180, 216),
    rgb(86, 128, 163),
    rgb(35, 42, 77)
  );
  height: 100vh;
  border-bottom: 20px solid pink;
  border-radius: 10%;
}
.row {
  display: flex;
  justify-content: center;
  background-image: url(https://media.giphy.com/media/l41lVUCbHnMswK0ec/giphy.gif);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 400px 400px 40px 40px;
  width: 600px;
  margin: 0 auto;
  border: 10px solid rgb(0, 0, 0);
}
.pink {
  color: pink;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.facts {
  margin: 30px 560px;
  background-color: pink;
  padding: 10px 40px 0px 40px;
  border-radius: 10px 10px 0px 0px;
  position: fixed;
  bottom: 85px;
}
p {
  margin: 30px 300px;
  background-color: pink;
  padding: 20px 40px 0px 40px;
  border-radius: 20px 20px 0px 0px;
  position: fixed;
  bottom: -30px;
}
.am1 {
  height: 400px;
  width: 400px;
  position: absolute;
  top: 300px;
  left: 0px;
  z-index: -2;
}
.am2 {
  height: 400px;
  width: 400px;
  position: absolute;
  top: 300px;
  right: 0px;
  z-index: -1;
}
